{% extends "base.html" %}
{% block content %}

<div style="text-align:center;">
    <h3>Witaj {{ user.id}}</h3>
</div>

<table>
    
{% if users %}
<ul class="user-list">
    {% for user in users.all %}
    <li>{{ user }}</li>
    {% endfor %}
</ul>
{% endif %}
    
    
{% if user.is_authenticated %}
{% for account in accounts %}
    <tr>
    <div class="account">
        <td><div>{{ account.owner }}</div></td>
        <td><div>{{ account.balance }}</div></td>
    </div>
    </tr>
{% endfor %}
</table>

 {% endif %}

 {% if user.is_authenticated and user.is_superuser %}

 {% else %}

 {% endif %}

{% endblock %}