{% extends "base.html" %}
{% block content %}

{% if user.is_authenticated %}

Stan konta:
<table border="1">    
    <tr>
        <td><div>{{ account.owner }}</div></td>
        <td><div>{{ account.balance }}</div></td>
    </tr>
</table>
<br>
Wykonaj przelew:<br>
    <font color="red">{{ error }}</font>
        <form action="" method="post">
<table border="1">
    <tr>
        <td><b>Do:</b></td>
        <td><b>Kwota:</b></td>
        <td><b>Tytułem:</b></td>
    </tr>
    <tr>                
            <td><input type=text name=owner value=""></td>
            <td><input id=number type=number name=amount min="1" max="10000" step="1" value="1"></td>
            <td><input id=type type=hidden name=mode value="">
            <input type=text name=title value="Przelew">
            <input id=title type=hidden name=title value=""></td>
    </tr>
</table>

            <input type=submit value=Wykonaj>
        </form>
{% endif %}

{% endblock %}
